.top-bar {
    background:#f2f2f2;
    height: 1.8rem;
    padding: .2rem 0; 
  }
  
  .top-bar a {
    color: #595858;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
  }


  .nav-link {
    align-items: center;
    font-family: HelveticaNeue, Helvetica, sans-serif, Arial; 
    font-size: 18px;
  }

  body {
    overflow-x: hidden;
    font-family: HelveticaNeue, Helvetica, sans-serif, Arial; 
    color:  #616971;
  }
  

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bange{
  top: -10px;
}

#prime {
  align-items: center;
    font-family: HelveticaNeue, Helvetica, sans-serif, Arial; 
    font-size: 16px;
    font-weight: 400;

}

#primary {
 
  background-image: url("../img/Banner_menu.png");
  background-repeat: repeat;
  background-size: auto;
  z-index: 1;
  
}

/*============= CAROUSEL =============*/

#carousel {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}

.carousel-inner {
  max-height: 38rem!important;
}

/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 2.2s ease;

}

/*-- Carousel Content --*/

h1{
  font-family: HelveticaNeue, Helvetica, sans-serif, Arial; 
  font-size: 26px;
  font-weight: 800;
  text-justify: center;

}

